@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.home {
  height: 100vh;
  padding: 40px;
  width: 100vw;
  opacity: 1;
  background-image:  linear-gradient(#f3f3f3 1px, transparent 1px), linear-gradient(to right, #f3f3f3 1px, #ffffff 1px);
  background-size: 20px 20px;
}

.home h1 {
  font-size: 3rem;
	background: linear-gradient(to right, #2c67ce 0%, #0891b2 40%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.home__bars-container {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  height: 300px;
  padding: 2rem 0;
  margin-bottom: 10px;
  overflow-y:hidden ;
}


.bar {
  margin: 0 2px;
  background-color: #2c67ce;
  border-radius: 3px;
  width: 40px;
  /* transition: all 0.3s ease-in; */
}

.highlight {
  background-color: rgb(143, 17, 131);
}


.home__buttons {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.button {
  background-color: #000000; /* Green */
  color: white;
  padding: 8px 10px;
  width: 200px;
  border-radius: 20px;
  font-weight:500;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: rgba(60, 100, 67, 0.183) 0px 5px 8px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.1s ease-in;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 12px 0px, rgba(60, 64, 67, 0.057) 0px 2px 6px 2px;
}

.home__custom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__custom span {
  font-size: 1.3rem;
}

.home__custom input {
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  width: 200px;
}

.custom-button {
  background-color: #d8d7d7; /* Green */
  color: black;
  padding: 10px 18px;
  border-radius: 5px;
  font-weight:500;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  /* box-shadow: rgba(60, 100, 67, 0.183) 0px 5px 8px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  transition: all 0.1s ease-in;
  margin-left: 10px;
}